@import "bars.css";
* {margin: 0; padding: 0; box-sizing: border-box; outline: none;}
body {height: 100%;font-family: 'Roboto', sans-serif; overflow-x: hidden;}
input[type=text],input[type=submit],input[type=email],input[type=tel],textarea{appearance: none; -webkit-appearance: none;}
a{text-decoration: none;}
ul{list-style-type: none;}
.container {max-width: 1280px;padding: 0 2%;margin: 0 auto;}
.clear {clear: both;}

// header do meu site
header {
    background-image: url('../image/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0;
    background-size: cover;
    min-height: 600px;

    div.logo{
        font-family: 'Bebas Neue', cursive,sans-serif;
        float: left;
        position: relative;
        margin-left: 40px;
        z-index: 999;
        h1{
            position: relative;
            z-index: 9999;
            font-size: 30px;
            a{
                color: white;
                font-weight: 100;
            }      
        }
        span{
            padding: 0 2%;
            position: absolute;
            left: -20px;
            top: 12px;
            width: 45px;
            height: 5px;
            background-color: rgb(170, 45, 0);
            transform: rotate(-28deg);
            border-radius: 8px;
           
        }
        span:before{
            content: "";
            position: absolute;
            left: -13px;
            top: 19px;
            width: 50px;
            height: 5px;
            background-color: rgb(170, 45, 0);
            border-radius: 8px;
            transform: rotate(56deg);
        }
    }//div.logo

    nav#menu-desktop {
        float: right;
        
        li {
            display: inline-block;
            margin: 0 20px;

            a {
                color: white;
            }        
           
        }
        li.btnOrcamento {
            border: 1px solid orangered;
            padding: 5px 10px;
            border-radius: 15px;    
             
            a:hover{
                color: orangered;            
            }
        }
   
    }//nav#menu-desktop
    
    nav#menu-mobile {
        float: left;
        display: none;
       
        .mobileBtn {
            top: 20px;
        }
        ul{
            display: none;
            background: #31475e;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 80px 0 30px 0;
            border-bottom: 1px solid orangered;
            text-align: center;
          
            li{
                margin: 15px 0;
                a {
                    color: white;
                    text-transform: uppercase;
                }
                
            }
            li.btnOrcamento {
                border: 1px solid white;
                padding: 5px 10px;
                border-radius: 15px;    
                display: inline-block;
            }
        }

    }//nav#menu-mobile

    section#chamada__header{
        margin-top: 100px;

        h2 {
            max-width: 700px;
            color: white;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 47px;
        }
        p {
            color: white;
            font-size: 20px;
            margin: 40px 0 30px 0;
            max-width: 500px;
            font-weight: 300;
        }
        form {

            input[type=email] {
                width: 260px;
                height: 44px;
                border-radius: 40px;
                border: none;
                padding-left: 8px;
                font-size: 17px;
                margin-right: 10px;
                @media (max-width: 500px){
                    margin-right: 0;
                }
            }
            input[type=submit] {
                width: 260px;
                height: 44px;
                border-radius: 40px;
                border: none;
                font-size: 17px;
                cursor: pointer;
                color: white;
                background-color: rgb(252, 86, 25);          
            }
            input[type=submit]:hover {
                background-color: rgb(255, 106, 52);
            }
        }

    }//section#chamada__header
    @media (max-width: 768px){
        section#chamada__header{
            margin-top: 60px;
            h2{
                text-align: center;
                font-size: 35px;
            }
            p{
                text-align: center;
                max-width: 700px;
            }
            form{
                text-align: center;
            }
            input[type=submit]{
                margin-top: 15px;
            }
        }
        nav#menu-desktop{
            display: none;
        }
        nav#menu-mobile{
            display: block;
        }
       
    }
    
}//header
section#descricao__websystems{
    max-width: 650px;
    margin: 0 auto;
    padding: 40px 0;
    p{
        color: #31475E;
        font-style: italic;
        font-size: 20px;
    }

}//descricao__websystems

section#descricao__websystems_02{
    padding: 40px 0;
    .box__flex{
        display: flex;
        justify-content: center;
       
    }   
    .texto__descricao {
        width: 40%;
        h2{
            color: #31475E;
            font-weight: normal;
            padding: 10px 0;
            font-size: 22px;
            line-height: 32px;
        }
        p{
            color: #31475e;
            line-height: 22px;
        }
    }
    img{
        max-width: 100%;
    }
    @media(max-width: 1023px){   
        .box__flex{
            flex-wrap: wrap;
        }
        .texto__descricao {
            width: 60%;
            @media (max-width: 768px) {
                width: 85%;
            }
            @media (max-width: 500px) {
                width: 100%;
            }
        }
        img{
            margin-top: 30px;
        }
    }
  
}//descricao__websystems_02

section#descricao__websystems_03{
    padding: 10px 0 100px 0;
    #bg__2{
        position: relative;
        background-image: url('../image/bg2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        max-width: 940px;
        width: 100%;
        min-height: 330px;
        margin: 0 auto;
        @media (max-width: 768px){
            background-size: cover;
        }
       
        .bg__depoimento{
            position: absolute;
            bottom: -60px;
            left: 380px;
            background-color: white;
            padding: 30px;
            width: 400px;
            box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.24);
            @media (max-width: 865px){
                bottom: -40px;
                left: 250px;
            }
            @media (max-width: 708px){
                bottom: -40px;
                left: 10px;
            }
            @media (max-width: 500px){
            bottom: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            // background-color: transparent;
            padding: 5px 2%;
            width: 90%;
            box-shadow: none;
            opacity: 0.8;
            }
           
            p{
                color: #31475e;
                margin-bottom: 20px;
            }
            span{
                color: #31475e;
            }
        }
    }
}//descricao__websystems_03

section#servicos{
    padding: 30px 0 60px 0;

    .servicos__title{
        position: relative;
        h3{
            color: #31475e;
            text-align: center;
            font-size: 22px;
            font-weight: normal;
        }
        span{
            position: absolute;
            top: 50px;
            left: 48%;
            transform: rotate(40deg);
            background: #31475e;
            height: 4px;
            width: 20px;
            border-radius: 30px;
            @media (max-width: 390px){
                top: 80px;
            }
            
        }
        span::before{
            content: '';
            position: absolute;
            top: -9px;
            left: 48%;
            transform: rotate(100deg);
            background: #31475e;
            height: 4px;
            width: 20px;
            border-radius: 30px;
        }
    }
 

    .servicos__box{
        margin-top: 130px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .servicos__wraper{
            box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.24);
            max-width: 300px;
            margin: 20px 10px;

            .servicos__conteudo{
            
                max-width: 300px;
                width: 100%;
                padding: 25px;
                
                h3{
                    color: #31475e;
                    font-weight: normal;
                    font-size: 18px;
                }
                p{
                    color: #31475e;
                    font-size: 14px;
                    padding: 20px 0;
                    line-height: 25px;
                    font-weight: lighter;
                }
                a{
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    padding: 5px 10px;
                    color: #31475e;
                    text-transform: uppercase;
                }
            }
        }
    }
}//section#servicos

section#portfolio{
    
    .portfolio__box{
        background-color: #f6f6f6;
        padding: 20px 0;
        max-width: 940px;
        margin: 0 auto;
        h3{
            text-align: center;
            font-weight: normal;
            color: #31475E;
            margin-bottom: 50px;
        }
        .portfolio__flex{
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            @media (max-width: 765px){
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .portfolio__single{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #ccc;
                padding: 15px 0; 
                width: 24%;
                @media (max-width: 765px){
                    width: 40%;
                    margin-bottom: 30px;
                }
                @media (max-width: 500px){
                    width: 60%;
                    margin-bottom: 30px;
                }
            }
        }
    }
   
}//section#portfolio

section#formulario{
    padding: 60px 0;
    h2{
        text-align: center;
        color: #31475e;
        font-weight: normal;
        margin-bottom: 30px;
    }
    form{
        text-align: center;
        width: 50%;
        margin: 0 auto;
        @media (max-width: 768px){
            width: 80%;
        }
        @media (max-width: 500px){
            width: 100%;
        }

        input[type=text],input[type=email],input[type=tel]{
            width: 100%;
            height: 44px;
            border: 1px solid #cccccc;
            border-radius: 100px;
            font-size: 16px;
            padding-left: 8px;
            outline: none;
            margin: 10px 0;
        }
        textarea{
            margin: 10px 0;
            width: 100%;
            height: 120px;
            border: 1px solid #cccccc;
            border-radius: 20px;
            font-size: 17px;
            padding: 8px 10px;
            outline: none;
            resize: none;
        }

        input[type=submit]{          
            margin: 10px 0;
            width: 30%;
            height: 44px;
            text-transform: uppercase;
            cursor: pointer;
            color: white;
            background-color: rgb(233, 75, 18);
            border: 1px solid #cccccc;
            border-radius: 20px;
            font-size: 16px;
            padding: 8px 10px;
            outline: none;    
            @media (max-width: 500px){
                width: 60%;
            }      
        }
        input[type=submit]:hover{
            background-color: rgb(255, 106, 52);
        }           
    }        
}//section#formulario

footer{
    padding: 30px 0;
    .footer__flex{
        display: flex;
        justify-content: space-around;
        @media (max-width: 765px){
            flex-wrap: wrap;
        }

        .footer__box{
            text-align: center;
            width: 33.3%;
            @media (max-width: 765px){
                width: 100%;
                margin-bottom: 20px;
            }
            h2{
                color: #31475e;
                font-weight: normal;
                margin-bottom: 10px;
                font-size: 22px;
            }
            p{
                color: #31475e;
                font-size: 15px;
            }
            form{
                input[type=email]{
                    height: 30px;
                    width: 180px;
                    border: 1px solid #cccccc;
                    border-radius: 100px;
                    padding-left: 8px;
                    margin-right: 3px;
                }
                input[type=email]:focus{outline: 0;}
                button{
                    width: 50px;
                    height: 30px;
                    background-color: transparent;
                    border: 1px solid #cccccc;
                    border-radius: 100px;
                    cursor: pointer;
                    i{                      
                        font-size: 16px; 
                    }
                    
                }
                button:hover{
                    color: orangered;
                }
            }
        }
    }
}//footer

section#sub__footer{
    .container{
        border-top: 1px solid #31475e3d;
        max-width: 1050px;
    }
    .sub__footer__flex{
        margin: 15px 0;
        display: flex;
        justify-content: space-around;
        a{
            color: #31475e;
            i{
                font-size: 30px;
            }
        }
    }
    
}





